<a href="https://colab.research.google.com/github/goflvhxj/MLDL_practice/blob/main/%ED%81%AC%EB%A1%A4%EB%A7%81/BeautifulSoup%EB%A1%9C%20%EB%8B%A4%EC%96%91%ED%95%9C%20%EB%8D%B0%EC%9D%B4%ED%84%B0%20%EC%B6%94%EC%B6%9C%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
from bs4 import BeautifulSoup

In [ ]:
html = '''
<html>
	<head>
		<h1> 사야할 과일
	</head>
	<body>
		<h1> 시장가서 사야할 과일 목록
			<div><p id='fruits1' class='name1' title='바나나'> 바나나
					<span class = 'price'> 3000원 </span>
					<span class = 'count'> 10개 </span>
					<span class = 'store'> 바나나가게 </span>
					<a href = 'https://www.banana.com'> banana.com </a>
				</p>
			</div>
			<div><p id='fruits2' class='name2' title='체리'> 체리
					<span class = 'price'> 100원 </span>
					<span class = 'count'> 50개 </span>
					<span class = 'store'> 체리가게 </span>
					<a href = 'https://www.cherry.com'> cherry.com </a>
				</p>
			</div>
			<div><p id='fruits3' class='name3' title='오렌지'> 오렌지
					<span class = 'price'> 500원 </span>
					<span class = 'count'> 20개 </span>
					<span class = 'store'> 오렌지가게 </span>
					<a href = 'https://www.orange.com'> orange.com </a>
				</p>
			</div>
	</body>
</html>'''

### 1) select('태그이름')

In [ ]:
soup = BeautifulSoup(html, 'html.parser')
soup.select('p') # 분석결과에서 <p>태그를 찾아라

[<p class="name1" id="fruits1" title="바나나"> 바나나
 					<span class="price"> 3000원 </span>
 <span class="count"> 10개 </span>
 <span class="store"> 바나나가게 </span>
 <a href="https://www.banana.com"> banana.com </a>
 </p>, <p class="name2" id="fruits2" title="체리"> 체리
 					<span class="price"> 100원 </span>
 <span class="count"> 50개 </span>
 <span class="store"> 체리가게 </span>
 <a href="https://www.cherry.com"> cherry.com </a>
 </p>, <p class="name3" id="fruits3" title="오렌지"> 오렌지
 					<span class="price"> 500원 </span>
 <span class="count"> 20개 </span>
 <span class="store"> 오렌지가게 </span>
 <a href="https://www.orange.com"> orange.com </a>
 </p>]

### 2) select('.클래스명')

In [ ]:
soup.select('.name1') # name1이라는 클래스를 가져오고 싶음

[<p class="name1" id="fruits1" title="바나나"> 바나나
 					<span class="price"> 3000원 </span>
 <span class="count"> 10개 </span>
 <span class="store"> 바나나가게 </span>
 <a href="https://www.banana.com"> banana.com </a>
 </p>]

### 3) select('상위태그 > 하위태그 > 하위태그')
**부등호 사이에 반드시 공백 넣어야 함**

In [ ]:
soup.select('div > p > span')

[<span class="price"> 3000원 </span>,
 <span class="count"> 10개 </span>,
 <span class="store"> 바나나가게 </span>,
 <span class="price"> 100원 </span>,
 <span class="count"> 50개 </span>,
 <span class="store"> 체리가게 </span>,
 <span class="price"> 500원 </span>,
 <span class="count"> 20개 </span>,
 <span class="store"> 오렌지가게 </span>]

In [ ]:
soup.select('div > p > span')[0]  # 첫번째 결과만 추출

### 4) select('상위태그.클래스이름 > 하위태그.클래스이름')

In [ ]:
# 바나나가게 이름만 출력하고 싶을 경우
soup.select('p.name1 > span.store')

### 5) select('#아이디명')

In [ ]:
soup.select('#fruits1')

[<p class="name1" id="fruits1" title="바나나"> 바나나
 					<span class="price"> 3000원 </span>
 <span class="count"> 10개 </span>
 <span class="store"> 바나나가게 </span>
 <a href="https://www.banana.com"> banana.com </a>
 </p>]

### 6) select('#아이디명 > 태그명.클래스명')

In [ ]:
soup.select('#fruits1 > span.store')

### 7) select('태그명[속성1=값1]')

In [ ]:
soup.select('a[href]')

[<a href="https://www.banana.com"> banana.com </a>,
 <a href="https://www.cherry.com"> cherry.com </a>,
 <a href="https://www.orange.com"> orange.com </a>]

In [ ]:
soup.select('a[href]')[1]